.areaPrincipal {
    background-image: url("../img/fondo.jpg");
    background-repeat: no-repeat;
    width: 100%;
    height: auto;

    
    
 

    opacity: 0.7;
    -webkit-background-size: 100% 100%;
    /* Safari 3.0 */
    -moz-background-size: 100% 100%;
    /* Gecko 1.9.2 (Firefox 3.6) */
    -o-background-size: 100% 100%;
    /* Opera 9.5 */
    background-size: 100% 100%;
    /* Gecko 2.0 (Firefox 4.0) and other CSS3-compliant browsers */
    }

    *{
        margin: 0;
        padding: 0;
    }
        body{
            background-color: #9E9E9E;
        }

        #encabezado{
            background: #d0e6f8;
            height: 240px;
            text-align: center;
            background-image: url("../img/logo.png");
            background-repeat: repeat;
            background-size: 180px 180px;

        }


.piepagina{
    width: 100%;
    height: 100%;
    background: #15101b;
    bottom: 0;
    color: white;
    position: fixed;
    left: 0px;

}

#menu{
    height: 40px;
    position: relative;
    top: 200px;
}


ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}

li{
    float: left;

}

li a{
    display: block;
    color: white;
    text-align: center;
    padding: 10px;
    text-decoration: none;
}

li a:hover{
    background-color: #111111;
}
#datos{
    width: 80%;
    background-color: #1a0e12;
    height: 600px;
    margin: auto;
    opacity: 1;
    color: white;
}


.boton_personalizado{
    float: right; margin: -200px 200px 30px 30px;
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    background-color: #1883ba;
    border-radius: 6px;
    border: 2px solid #0016b0;
  }
  .boton_personalizado:hover{
    color: #1883ba;
    background-color: #ffffff;
  }
  .boton_personalizado2{
    float: right; margin: -100px 200px 30px 30px;
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    background-color: #1883ba;
    border-radius: 6px;
    border: 2px solid #0016b0;
  }
  .boton_personalizado:hover{
    color: #1883ba;
    background-color: #ffffff;
  }



  .letra{
    font-family: sans-serif;
    font-size: 12px;
    color: black;

}
.contacto{
    border: 1px solid #CED5D7;
    border-radius: 6px;
    padding: 45px 45px 20px;
    margin-top: 50px;
    background-color: white;
    box-shadow: 0px 5px 10px #B5C1C5, 0 0 0 10px #EEF5F7 inset;
}
.contacto label{
    display: block;
    font-weight: bold;
}
.contacto div{
    margin-bottom: 15px;
}
.contacto input[type='text'], .contacto textarea{
    padding: 7px 6px;
    width: 294px;
    border: 1px solid #CED5D7;
    resize: none;
    box-shadow:0 0 0 3px #EEF5F7;
    margin: 5px 0;
}
.contacto input[type='text']:focus, .contacto textarea:focus{
    outline: none;
    box-shadow:0 0 0 3px #dde9ec;
}
.contacto input[type='submit']{
    border: 1px solid #CED5D7;
    box-shadow:0 0 0 3px #EEF5F7;
    padding: 8px 16px;
    border-radius: 20px;
    font-weight: bold;
    text-shadow: 1px 1px 0px white;
 
    background: #e4f1f6;
    background: -moz-linear-gradient(top, #e4f1f6 0%, #cfe6ef 100%);
    background: -webkit-linear-gradient(top, #e4f1f6 0%,#cfe6ef 100%);
}
.contacto input[type='submit']:hover{
    background: #edfcff;
    background: -moz-linear-gradient(top, #edfcff 0%, #cfe6ef 100%);
    background: -webkit-linear-gradient(top, #edfcff 0%,#cfe6ef 100%);
}
.contacto input[type='submit']:active{
    background: #cfe6ef;
    background: -moz-linear-gradient(top, #cfe6ef 0%, #edfcff 100%);
    background: -webkit-linear-gradient(top, #cfe6ef 0%,#edfcff 100%);
}
















































    